.todolist {
    margin: auto;
    display: flex;
    flex-direction: column;  
    height: 100vh;
    background-color: #E3F2FD;
    justify-content: flex-start; 
    align-items: center;       
    padding-top: 60px;          
}

.todoList h1 {
    color: black;
    font-size: 3rem;
    margin-bottom: 40px;      
}

.box {
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 800px;
    max-width: 90%;
    gap: 10px;
}

.list-container{
    width: 800px;
}

.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    margin-bottom: 10px;
    list-style: none;
    background-color:#6896f9;
    border-radius: 5px;
    transition: 2s;
}

.list-item:hover{
    box-shadow: 10px 20px 100px rgba(0,0,0,0.2);
}

.list-item h3{
    margin: 0;
    flex-grow: 1;
}

.icon-container{
    display: flex;
    gap: 5px;
}

.btn{
    font-size: larger;
    width: 180px;
    background-color: #2196F3 !important;
    color: white !important;
}

.btn:hover{
    background-color: #1976D2 !important;
}
